{{define "footer"}}
<footer class="footer has-background-info has-text-white-ter">
  <div class="content has-text-centered">
    <p>
      Made with love.
    </p>
  </div>
</footer>
</body>
</html>
{{end}}