{{define "footer"}}
<!--TODO: Add social media icons-->
<footer class="footer has-background-info has-text-white-ter">
  <div class="content has-text-centered">
    <p>
      anno {{.CurrentYear}}
    </p>
  </div>
</footer>
<script src="/static/js/bulma-slider.min.js"></script>
<script src="/static/js/liberator.js"></script>
</body>
</html>
{{end}}