{{define "nav"}}
<nav class="navbar is-fixed-top is-info" role="navigation" aria-label="main navigation">
  <div class="container is-widescreen">
    <div class="navbar-brand mx-6">
      <a class="navbar-item" href="/">
          liberator
        <!--<img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">-->
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a href="/dashboard" class="navbar-item">
          Dashboard
        </a>
        <a href="/book/create" class="navbar-item">
          Buch erstellen
        </a>

          <!--<div class="navbar-dropdown">
            <a class="navbar-item">
              About
            </a>
            <a class="navbar-item">
              Jobs
            </a>
            <a class="navbar-item">
              Contact
            </a>
            <hr class="navbar-divider">
            <a class="navbar-item">
              Report an issue
            </a>
          </div>-->
      </div>

      <!--<div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-primary">
              <strong>Sign up</strong>
            </a>
            <a class="button is-light">
              Log in
            </a>
          </div>
        </div>
      </div>-->
    </div>
  </div>
</nav>
{{end}}