{{ define "dashboard.tmpl" }}
{{ template "base.tmpl" }}
{{ template "headerbar.tmpl" }}

<section class="section">
    <div class="container">
        <h1 class="title">liberator</h1>
        <p class="subtitle">
            Luk @ ma bukz, bruv. 
        </p>
    </div>
</section>

{{ template "footer.tmpl" }}

{{ end }}